NEXT_PUBLIC_API_URL=https://api.lsjcollections.com/api
NEXT_PUBLIC_CDN_URL=https://lsjcollections.com/panels/admin
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_PHONEPE_ENV=UAT
